.siteLayoutBackground {
  background: #E5E5E5;
}

.sider {
  background-color: rgb(36, 39, 42);
  font-size: 14px;
  text-align: center;
}

.loginSider {
  background-color: var(--white);
  font-size: 14px;
  text-align: left;
  padding: 72px;
}

.loginUpperText {
  margin: 40px 0;
  color: #453332;
}

.loginStrangerText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.loginDestinyText {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.loginSignInAsText {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: darkgrey;
}

.loginIconRight {
  font-size: 16px;
  position: absolute;
  left: 90%;
}

.loginUsersRow {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.loginUserCol {
  padding: 0 0 0 16px;
}

.shopItemsCol {
  padding-left: 16px;
}

.shopItemsRow {
  align-items: center;
}

.editUserCol {
  padding-left: 16px;
}

.loginUserRowText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.loginUserRowSubText {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.4;
}

.loginRightSideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 736px;
  align-items: center;
}

.loginRightSideTopText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #453332;
  padding-bottom: 32px;
}

.loginRightSideMiddleText {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #453332;
  padding-bottom: 32px;
}

.loginRightSideBottomText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #A3A3A3;
}

.loginSignOwnerText {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #453332;
  padding-top: 56px;
  padding-bottom: 24px;
}

.loginSignModeratorText {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #453332;
  padding-top: 56px;
  padding-bottom: 24px;
}

.loginBoxs {
  width: 160px;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 16px;
  margin-right: 32px;
}

.loginBoxsIcon {
  padding: 16px 56px 16px 56px;
}

.loginBoxsTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #453332;
  padding-bottom: 16px;
}

.loginBoxsSubTitle {
  width: 112px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #A3A3A3;
}

.loginLastBox {
  width: 160px;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 16px;
  margin-right: 0;
}

.modalContainer {
  padding-top: 20px;
}

.modalText {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.modalTextTitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-top: 42px;
}

.testTransactionsTextTitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-top: 88px;
  width: 53%;
  text-align: center;
}
.testTransactionsGraph {
  position: absolute;
  top: 20px;
  left: 0;
}

.testTransactionsButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.testTransactionsNumberText {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.testTransactionsText {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}

.testTransactionsGasText {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 20px 0;
}

.testTransactionsFeeText {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}

.modalTransferRowText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
}

.modalTextTitleRight {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-top: 85px;
}

.modalSubText {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}

.modalTokenName {
  font-weight: normal;
  font-size: 16px;
  line-height: 50px;
  opacity: 0.5;
  padding-left: 5px;
}

.modalTextBalance {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  padding-top: 10px;
}

.modalColRight {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modalFakePostContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modalFakePostTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.modalFakePostButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.modalFakePostBottomText {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
  padding-top: 16px;
}

.modalFakePostTitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 85px 0 20px 0;
}

.modalMiddleSwitch {
  position: absolute;
  left: 78%;
}

.modalShopBuyButton {
  position: absolute;
  left: 78%;
  color: #90DE2E;
  border-color: #90DE2E;
}

.loginWatchVideoButton {
  color: #453332;
  border-color: #453332;
}

.modalShopBuyButton {
  position: absolute;
  left: 78%;
  color: #90DE2E;
  border-color: #90DE2E;
}

.drawerTransferRowText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.alertErrorBanner {
  display: flex;
  flex-direction: row;
  padding: 12px 24px;
  width: 600px;
  top: -100px;
  position: absolute;
  left: 300px;
  background-color: #EA4C4C;
  color: #FFFFFF;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.alertErrorBannerText {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding-left: 25px;
}

.responseBanner {
  display: flex;
  flex-direction: row;
  padding: 12px 24px;

  position: absolute;
  width: 561px;
  height: 64px;
  left: 326px;
  top: -100px;
  background: #FFFFFF;
  border-radius: 8px;
  align-items: center;
}

.responseBannerText {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #453332;
  padding-left: 25px;
}

.responseBannerButton {
  height: 40px;
  width: 140px;
  margin: 0 40px;
  background-color: #453332;
  border-color: #453332;
}

.responseBannerButton:hover {
  background-color: #453332;
  border-color: #453332;
}

.responseBannerButton:focus {
  background-color: #453332;
  border-color: #453332;
}

.menu {
  background-color: rgb(36, 39, 42);
  font-size: 14px;
  text-align: left;
  border-right: 0;
}

.menu-item-text{
  color: var(--white) !important;
}

.menu-item-text:hover{
  color: var(--primary-color) !important;
}

.container {
  padding: 24px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.layout {
  min-height: 100vh;
}
