@import 'node_modules/antd/dist/antd.less';
@import './utilities';
@import '~fontsource-sora/index.css';

@font-family: 'Sora';
@border-radius-base: 6px;
@box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
@grey: #f1f1f1;

:root {
  --primary-color: @primary-color;
  --info-color: @info-color;
  --success-color: @success-color;
  --processing-color: @processing-color;
  --error-color: @error-color;
  --highlight-color: @highlight-color;
  --warning-color: @warning-color;
  --normal-color: @normal-color;
  --white: @white;
  --black: @black;
  --grey: @grey;
  --border-radius: @border-radius-base;
  --box-shadow: @box-shadow;
}

@dropdown-prefix-cls: ~'@{ant-prefix}-dropdown';
@menu-prefix-cls: ~'@{ant-prefix}-menu';
@layout-sider-background: @white;

.@{dropdown-prefix-cls} {
  box-shadow: @box-shadow;
}

.@{menu-prefix-cls}-item a, .@{menu-prefix-cls}-item span {
  font-weight: 500;
  font-size: 14px;
}

.ant-layout-sider {
  box-shadow: none;
}

.ant-collapse-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  padding-right: 145px;
}
.ant-collapse-extra {
  padding-right: 20px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 16px;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 20px;
  padding-bottom: 0;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  right: auto;
  left: 300px;
}

.ant-switch-checked {
  background-color: #90DE2E;
}

.ant-switch-small.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 8px - 4px);
}

.ant-switch-small .ant-switch-handle {
  width: 8px;
  height: 8px;
}
.ant-switch-handle {
  top: 4px;
  left: 4px;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.85);
}

.ant-modal-content {
  border-radius: 32px;
}

.ant-drawer-bottom.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: none;
}

.ant-drawer-content-wrapper {
  height: 386px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-input-affix-wrapper {
  display: block;
  height: 64px;
  width: 288px;
}

.ant-input-prefix {
  margin-top: -16px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #B5ADAD;
  font-style: normal;
  font-weight: normal;
}

.ant-input {
  width: 30%;
}

.ant-input-suffix {
  top: 32px;
  left: 90px;
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #B5ADAD;
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 3px 0 0 0;
}

.ant-layout-sider-trigger {
color: var(--black);
background: var(--white);
}

.ant-menu-item-selected {
background-color: rgb(36, 39, 42)!important;
}

.ant-menu-item a {
color: var(--white);
}

@menu-item-font-size: 14px;

body {
font-weight: 500;
}
